<!DOCTYPE html>
<html lang="en">
<head>
	<title>feedback | coursefeedback</title>
	<link rel="import" href="/library.html">
	<link rel="stylesheet" href="stylesheets/feedbackstyle.css">
</head>
<body>
	<div>
		<nav id= "id="header"" class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav> 
	</div>
	<div class="main-container">
		<div class="knowledge-checkbox-container"></div>
		<div class="comment-form-contatiner">
			<form id="feed-back-form">
				<div class="comment-box-tag">any comment on Profs / lecture contents etc.</div>
				<input class= "input-field" type="" name="">
				<input class= "input-field" id="big-comment-box" type="" name="">
				<button class= "submit" id="submit-button">Submit</button>
			</form>
		</div>
		<div class="footer">
			
		</div>
		
	</div>
	<script type="text/javascript"> 
		$(function(){

		$("#button").click(function(){
			alert("hello world!");
		})

	});
</script>
</body>
</html>