<!DOCTYPE html>
<html lang="en">
<head>
	<title>feedback | coursefeedback</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	<div class="main-container">
		<div class="header">
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#">
					<img src="IMG_0614.JPG" width="30" height="30" class="d-inline-block align-top" alt="">
					Course Evaluation
				</a>
			</nav> 
		</div>
		<div class="knowledge-checkbox-container"></div>
		<div class="comment-form-contatiner">
			<form id="feed-back-form">
				<input type="" name="">
				<input type="" name="">
				<input type="" name="">
				<input type="" name="">
				<button id="submit-button">Submit</button>
			</form>
		</div>
		<div class="footer">
			
		</div>
		
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" 
	integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

	<script type="text/javascript"> $(function(){

		$("#button").click(function(){
			alert("hello world!");
		})

	});
	</script>
</body>
</html>