<!DOCTYPE html>
<html lang="en">
<head>
	<title>feedback | coursefeedback</title>
	<link rel="import" href="/library.html">
	<link rel="stylesheet" href="stylesheets/feedbackstyle.css">
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light" id="header">
			<a style="color: purple;font-size: 30px;" class="navbar-brand" href="#">Course Master</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a style="color: purple;font-size: 20px;" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					
				</ul>
				
			</div>
		</nav> 
	</div>
	<div class="main-container">
		<div class="knowledge-checkbox-container">
			<div class="checkbox-title" style="border-bottom-style: solid;border-color: purple;border-width: 0.8px;">
				<div class="check-item"><span>Introduction to Hardware: Lecture 2</span></div>
			</div>
			<div class="check-item">
				<span style="font-size: 20px;color: purple">
					Knowledge points
				</span>
				<span style="float: right;margin-right: 25px;font-size: 20px;color: purple">
					Got it?
				</span>
			</div>
			<script type="text/javascript" src="assets/feedback.js"></script>
		</div>
		<div class="comment-form-contatiner">
			<form id="feed-back-form">
				<div class="comment-box-tag">any comment on Profs / lecture contents etc.</div>
				<textarea class= "input-field" id="big-comment-box" type="" name=""></textarea>
				<button  class= "submit"><a href="/thankyou" style="text-decoration: none; color: purple;" class="submit-link">Submit</a></button>
			</form>
		</div>
	</div>
	<div class="footer">

	</div>
	<script type="text/javascript"> 

		$(function(){


			$("#button").click(function(){
				alert("hello world!");
			})

		});
	</script>
</body>
</html>