<!DOCTYPE html>
<html lang="en">
<head>
	<title>feedback | coursefeedback</title>
	<link rel="import" href="/library.html">
	<link rel="stylesheet" href="stylesheets/feedbackstyle.css">
	<link rel="stylesheet" href="stylesheets/sendtag.css">
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light" id="header">
			<a style="color: purple;font-size: 30px;" class="navbar-brand" href="#">Course Master</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a style="color: purple;font-size: 20px;" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					
				</ul>
				
			</div>
		</nav> 
	</div>
	<div class="main-container">
		<div class="knowledge-checkbox-container" style="width: 35%;">
			<form action="/sendtag" method="post" style="width:100%">
				<div class="tag-item">
					<span class="tag-name">Pointer Definition</span>
					<button class="submit" type="submit" name="tag" value="Pointer Definition">Send</button>
				</div>
				<div class="tag-item">
					<span class="tag-name">Memory Management</span>
					<button class="submit" type="submit" name="tag" value="Memory Management">Send</button>
				</div>
				<div class="tag-item">
					<span class="tag-name">Pipeline CPU</span>
					<button class="submit" type="submit" name="tag" value="Pipeline CPU">Send</button>
				</div>
				<div class="tag-item">
					<span class="tag-name">x86 debug</span>
					<button class="submit" type="submit" name="tag" value="x86 debug">Send</button>
				</div>
			</form>
		</div>
		<div class="comment-form-contatiner">
			<form id="feed-back-form" action="/sendtag" method="post">
				<span class="comment-box-tag">any specific tag u want?</span>
				<input class= "input-field" type="text" name="tag"></input>
				<button  class= "submit" id="submit-btn" type="submit" value="Submit">Send</button>
			</form>
		</div>
		<div class="footer">
			
		</div>
		
	</div>
</body>
</html>