<!DOCTYPE html>
<html lang="en">
<head>
	<title>feedback | coursefeedback</title>
	<link rel="import" href="/library.html">
	<link rel="stylesheet" href="stylesheets/feedbackstyle.css">
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light" id="header">
			<a style="color: purple;font-size: 30px;" class="navbar-brand" href="#">Course Master</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a style="color: purple;font-size: 20px;" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<button class= "login" >Login</button>
				</ul>
				
			</div>
		</nav> 
	</div>
	<div class="main-container" style="text-align: center;font-size: 30px">Thank you!</div>
	<div class="footer">

	</div>

</body>
</html>