<!DOCTYPE html>
<html lang="en">

<head>
	<title>feedback | coursefeedback</title>
	<link rel="import" href="/library.html">
	<link rel="stylesheet" href="stylesheets/feedbackstyle.css">
</head>

<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light" id="header">
			<a style="color: purple;font-size: 30px;" class="navbar-brand" href="#">Course Master</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<div class="main-container" style="text-align: center;font-size: 30px">Thank you!</div>

</body>

</html>