body {
	background-color: white;
	background-image: url("/pictures/option1.jpg");
	background-size: cover;
}

#header {
	background-color: #c3c6c9;
}

.footer{
	width: 100%;
	height: 90px;
	background-color: #c3c6c9;
	margin-top: 2em;
}

.navi-font {
	font-color:white;
}

.main-container{
	margin-top: 3em;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #c3c6c9;
	border-radius: 25px;
	padding-bottom: 30px;
	padding-top: 5px;
}

#feed-back-form{
	margin-top: 0.3em;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 90%;
}

.input-field{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	display: block;
	width: 100%;
	height: 30%;
	border-color: #800080;
	border-width:0.5px;
}

.star{
	font-size: 20px;
}

.knowledge-checkbox-container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

.check-item{
	width: 100%;
	padding:15px;
	/*border-bottom-style: solid;
	border-width: 1px;
	border-color: purple;*/
	padding-right: 150px;
}

.checkbox-title{
	font-size: 30px;
}

.knowledge-point{
	margin-left: 8px;
	font-size: 20px;
}

.checkbox{
	float: right;
	margin-right: 25px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 24px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: red;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 6px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: green;
}

input:focus + .slider {
	box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#big-comment-box{
	height: 150px;
}

.comment-box-tag{
	color:purple;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2em;
	text-align: left;
}

.login{
	background-color: green;
	background-image: none;

	width:60px;
	height: 40px;
	text-align: center;
	
	display: block;
	cursor: pointer;

	text-align: center;
	vertical-align: middle;
	border: 0.5px;
	border-style: solid;
	border-color:green;
	color:white;
	-webkit-transition:0.5s;
}

.login :hover{

}

.submit{
	
	background-color: transparent;
	background-image: none;

	width:80px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	cursor: pointer;

	text-align: center;
	vertical-align: middle;
	border: 0.5px;
	border-style: solid;
	border-color:purple;
	color:purple;
	-webkit-transition:0.5s;
}

.submit:hover{
	background-color: purple;
	background-image: none;
	color:white;
	width:160px;
	
}

.submit-link :hover{
	color:white;
}

a {
  color: purple;
  font-size: 20px;
}