
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tag-item{
	width: 200px;
	padding:15px;
	padding-right: 150px;
	display: inline;
}
.tag-name{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

